* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.bg-black {
    background-color: #000000;
}

.bg-grey {
    background-color: #D8D8D8;
}

.bg-white {
    background-color: #FBFBFB;
}

.bg-blue {
    background-color: rgb(6, 56, 67);
}

.color-white {
    color: #FBFBFB;
}

.invisible {
    opacity: 0;
}

.clickable:hover {
    cursor: pointer;
}

.available {
    border: 3px solid #4caf50 !important;
}

.available:hover {
    cursor: pointer;
}

.chosen {
    border: 3px solid #673ab7 !important;
}

.chosen:hover {
    cursor: pointer;
}

.chosen-card {
    border: 3px solid #673ab7 !important;
}

.chosen-card:hover {
    cursor: pointer;
}

.fill-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.back-btn {
    position: fixed;
    top: 15px;
    left: 15px;
}

.back-btn a:nth-child(2) {
    margin-left: 10px;
}

.choice-btn {
    display: block;
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.result-container {
    width: 100%;
    text-align: center;
}

.image-frame {
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
}

.painting-bg {
    background-image: url('../img/frame.png');
    /*width: 320px;
    height: 387px;*/
    width: 90vw;
    height: 106vw;
    position: relative;
    text-align: left;
}

.painting-img {
/*    width: 170px;
    height: 230px;*/
    width: 46vw;
    height: 64.5vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    position: absolute;
    /*top: 128px;
    left: 75px;
    border-radius: 87px;*/
    top: 36vw;
    left: 21.5vw;
    border-radius: 24.5vw;
}

.drawing-bg {
    background-image: url('../img/paper.png');
    /*width: 300px;
    height: 333px;*/
    width: 90vw;
    height: 100vw;
}

.drawing-img {
    /*margin-top: -30px;
    width: 200px;
    height: 200px;*/
    margin-top: -9vw;
    width: 60vw;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.simpson-bg {
    background-image: url('../img/tv.png');
    /*width: 300px;
    height: 353px;*/
    width: 90vw;
    height: 106vw;
    position: relative;
    text-align: left;
}

.simpson-img {
    /*width: 178px;
    height: 142px;*/
    width: 53.4vw;
    height: 42.6vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    position: absolute;
    /*top: 140px;
    left: 48px;*/
    top: 42vw;
    left: 14.4vw;
}

.citition {
    margin-top: 10px;
}

.attribution {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    text-align: center;
}

.menu {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    position: relative;
}

.menu-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dataset{
    width: 80vw;
    height: 106vw;
    max-width: 90vw;
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.info {
    font-weight: 200;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 15px;
}

.subtitle {
    font-weight: 200;
    font-style: italic;
    margin-top: 10px;
}

.upload-info {
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 10px;
}

.loading-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    text-align: center;
}

.loading-enter-active, .loading-leave-active {
  transition: all .3s ease-in-out;
}

.loading-enter, .loading-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

@media (min-width: 900px) {
    .painting-bg {
        width: 58vh;
        height: 70vh;
    }

    .painting-img {
        width: 30vh;
        height: 42vh;
        top: 23vh;
        left: 14vh;
        border-radius: 15.8vh;
    }

    .drawing-bg {
        width: 63vh;
        height: 70vh;
    }

    .drawing-img {
        margin-top: -5.8vh;
        width: 42vh;
        height: 42vh;
    }

    .simpson-bg {
        width: 60vh;
        height: 70vh;
    }

    .simpson-img {
        width: 35vh;
        height: 28vh;
        top: 28vh;
        left: 9.6vh;
    }

    .dataset{
        width: 45vh;
        height: 60vh;
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
}


