* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.bg-black {
    background-color: #000000;
}

.bg-grey {
    background-color: #D8D8D8;
}

.bg-white {
    background-color: #FBFBFB;
}

.color-white {
    color: #FBFBFB;
}

.invisible {
    visibility: hidden;
}

.clickable:hover {
    cursor: pointer;
}

.available {
    border: 3px solid #4caf50 !important;
}

.available:hover {
    cursor: pointer;
}

.chosen {
    border: 3px solid #673ab7 !important;
}

.chosen:hover {
    cursor: pointer;
}

.chosen-card {
    border: 3px solid #673ab7 !important;
}

.chosen-card:hover {
    cursor: pointer;
}

.score-board {
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

.menu {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-center {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

.menu-center button {
    width: 200px;
    margin: 20px;
}

.menu-player {
    margin-top: 60px;
}

.menu-player .info {
    margin-bottom: 20px;
}

.menu-player span {
    margin: 0 10px;
}

.opponent {
    width: 250px;
    height: calc(100vh - 130px);
    position: fixed;
    left: 0;
    top: 0;
}

.waiting-ai {
    margin-left: 10px;
    font-size: 16px; 
    font-weight: 200; 
    font-style: italic;
}

.player {
    height: 160px;
    width: 160px;
    border-radius: 0 50px 50px 0;
    margin: 20px 0;
    position: relative;
    padding: 10px 10px 10px 0;
}

.player:hover {
    width: 170px;
}

.player-profile{
    margin: 20px 20px;
    height: 60px;
    width: 60px;
}

.player-profile-wrapper{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: #fff;
}

.player-badage {
    position: absolute;
    left: calc(50% + 24px);
    margin-top: -8px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
}

.operation {
    width: 200px;
    height: calc(100vh - 130px);
    position: fixed;
    right: 0;
    top: 0;
}

.operation .item {
    width: 160px;
    height: 50px;
    border-radius: 50px 0 0 50px;
    margin: 15px 0;
}

.operation .item:hover {
    width: 170px;
}

.item-small {
    width: 60px;
    height: 50px;
    border-radius: 50px 0 0 50px;
    margin: 10px 0;
}

.item-small:hover {
    width: 70px;
}

.table {
    height: calc(100vh - 130px);
    width: calc(100vw - 400px);
    position: fixed;
    right: 150px;
    top: 0;
    overflow: hidden;
    text-align: center;
}

.card-title-cover {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}

.noble-container {
    margin: 10px 10px 10px 30px;
}

.noble {
    text-align: center;
    position: relative;
    margin: 10px 0;
    width: 90px;
    height: 90px;
}

.noble .noble-bg {
    width: 90px;
    height: 90px;
}

.noble .noble-mask {
    position: absolute;
    background: rgba(216,216,216,0.8);
    /*opacity: 0.8;*/
    display: flex;
    flex-direction: column-reverse;
    height: 90px;
}

.noble-requirement{
    line-height: 25px;
    margin:auto;
    font-size: 22px;
    font-weight: bold;
    margin: 1px;
    color: #fff;
    -webkit-text-stroke: 1px #666;  
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: rgb(210, 210, 210) solid 1px !important;
}

.noble-level{
    position: absolute;
    right: 4px;
    bottom: 0;
    color: #393939;
    font-weight: bold;
    font-size: 24px;
    color: #393939;
    -webkit-text-stroke: 1px white;  
}


.card-container {
    margin: 10px 50px;
    width: 500px;
}

.playcard {
    width: 87px;
    position: relative;
    margin: 0 3px;
    box-sizing: border-box;
}

.playcard .playcard-bg {
    width: 87px;
    height: 150px;
}

.playcard .playcard-level {
    color: #393939;
    font-weight: bold;
    font-size: 24px;
    color: #393939;
}

.playcard .playcard-mask {
    width: 87px;
    position: absolute;
    background: #e0e0e0;
    opacity: 0.8;
    padding: 0 5px;
}

.playcard .playcard-color {
    width:30px;
    height:30px;
}

.playcard .playcard-costs {
    position: absolute;
    bottom: 5px;
    height: 60px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap; 
}

.playcard-cost {
    line-height: 25px;
    margin:auto;
    font-weight: bold;
    margin: 1px;
    color: #fff;
    -webkit-text-stroke: 1px #666;  
    width: 28px;
    height: 28px;
    border-radius: 30px;
    border: rgb(210, 210, 210) solid 1px !important;
}

.gem-container {
    width: 100px;
    margin-right: 30px;
}

.gem-warpper {
    width: 160px;
}

.gems-count {
    font-size: 18px;
    width: 40px;
    display: inline-block;
}

.gems {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    margin: 10px 0;
    text-align: center;
    /*visibility: hidden;*/
}

.gems img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.myhand {
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 0;
}

.myhand .user {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
}

.myhand .user img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -25px;
}

.player-name {
    height: 40px;
    width: 80px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    left: 137px;
    bottom: 10px;
}

.gem_panel {
    background-color: #eee;
    position: absolute;
    right: 0;
    margin-right: calc((57% - 170px) / 2);
    width: 60%;
    height: 81px;
    border-radius: 20px;
}

.gem_panel_oppenent {
    background-color: #eee;
    /*position: absolute;*/
    /*right: 0;*/
    /*margin-right: calc((57% - 170px) / 2);*/
    width: 800px;
    height: 81px;
    border-radius: 20px;
    margin: 20px 0;
}

.gem_total{
    text-align: center;
    line-height: 25px;
    margin:auto;
    font-size: 18px;
    font-weight: bold;
    margin: 1px;
    color: #fff;
    -webkit-text-stroke: 1px #666;  
    width: 48px;
    height: 48px;
    border-radius: 38px;
    border: rgb(210, 210, 210) solid 1px !important;
    transform:rotate(-20deg);
}

.gem_slot{
    height: 80px;
    border-radius: 10px;
    border: 3px solid #eee !important;
    /* box-shadow: 0px 0px 100px rgba(64, 64, 64, 0.8) inset; */
}

.gem_discount{
    text-align: center;
    line-height: 45px;
    margin:auto;
    font-size: 32px;
    font-weight: bold;
    margin: 1px;
    color: #fff;
    -webkit-text-stroke: 1px #666;  
    width: 38px;
    height: 48px;
    border-radius: 10px;
    border: rgb(210, 210, 210) solid 3px !important;
}

.gem_count{
    text-align: center;
    line-height: 35px;
    margin:auto;
    font-size: 32px;
    font-weight: bold;
    margin: 10px 1px 1px;
    color: #fff;
    -webkit-text-stroke: 1px #666;  
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: rgb(210, 210, 210) solid 3px !important;
}

.gem_gold{
    background-color: #F5A623;
    color: #FFF;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}

.reserved-cards {
    width: 284px;
    position: absolute;
    right: -30px;
    /*margin-right: 10px;*/
    text-align: center;
}

.reserved-cards-oppenent {
    width: 500px;
    margin: 20px;
    text-align: center;
}

.purchased-cards {
    width: 90%;
    margin: 20px;
    text-align: center;
}

.pause-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    text-align: center;
}

.pause-enter-active, .pause-leave-active {
  transition: all .3s ease-in-out;
}

.pause-enter, .pause-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}


.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.noble-list-complete-item {
  transition: all 1s;
}
.noble-list-complete-enter, .noble-list-complete-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.noble-list-complete-leave-active {
  position: absolute;
}

.list-complete-item {
  transition: all 1s;
/*  display: inline-block;
  margin-right: 10px;*/
}
/*.list-enter
  opacity: 0;
  transform: translateX(30px);
}*/

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


