<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Locker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="evol calculator">
    <meta name="keywords" content="calculator">
    <meta name="author" content="Darina">

    <link rel="stylesheet" type="text/css" href="css/icon.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/cal_style.css" />
    
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
</head>

<body class="bg-white">
    <div id="app">
        <div v-if="mode == 'welcome'" class="bg-blue valign-wrapper menu">
            <div class="valign menu-center orange-text text-lighten-5">
                <img src="img/locket.png" width="200px" height="200px" />
                <h4>Locket: 肖像画师</h4>
                <h5 class="info">上传自拍，开始画像</h5>
                <button class="waves-effect waves-light btn light-green">
                    <i class="fa fa-play">
                        <input id="upfile" class="fill-parent invisible" type="file" name="upfile" @change='addImg'/>
                    </i>
                </button>
            </div>
        </div>
        <div v-if="mode == 'choice'" class="bg-blue valign-wrapper menu">
            <div class="valign menu-center orange-text text-lighten-5">
                <h5>Choose a style</h5>
                <br/>
                <button class="waves-effect waves-light btn brown lighten-1 choice-btn" @click="chooseStyle('painting')">Painting</button>
                <button class="waves-effect waves-light btn cyan choice-btn" @click="chooseStyle('drawing')">Darwing</button>
                <button class="waves-effect waves-light btn yellow darken-2 choice-btn" @click="chooseStyle('simpson')">Simpsons</button>
                <button class="waves-effect waves-light btn light-green choice-btn" @click="chooseStyle('random')">Random</button>

            </div>
            <div class="back-btn">
                <a class="btn-floating btn-large waves-effect waves-light dark-blue" @click="goBack">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
        </div>
        <div v-if="mode == 'result'" class="indigo lighten-4 valign-wrapper menu">
            <div class="result-container valign orange-text text-lighten-5">
                <transition name="result">
                    <div v-if="transfer_type == 'painting'" class="image-frame painting-bg">
                        <img :src="result_path.transfer" class="painting-img"/>
                    </div>
                    <div v-if="transfer_type == 'drawing'" class="image-frame drawing-bg valign-wrapper">
                        <img :src="result_path.transfer" class="valign drawing-img"/>
                    </div>
                    <div v-if="transfer_type == 'simpson'" class="image-frame simpson-bg valign-wrapper">
                        <img :src="result_path.transfer" class="valign simpson-img"/>
                    </div>
                </transition>
                <div>
                    <h5 class="info grey-text text-darken-4">"Woo Hoo!"</h5>
                </div>
                <div>
                    <a @click="mode='style'" class="clickable">See style images</a>
                </div>
            </div>
            <div class="attribution">
                <a v-if="transfer_type == 'painting'" href="https://www.vecteezy.com/free-vector/title-styles" class="grey-text">Title Styles Vectors by Vecteezy</a>
                <a v-if="transfer_type == 'drawing'" href="https://www.vecteezy.com/free-vector/paper-sheet" class="grey-text">Paper Sheet Vectors by Vecteezy</a>
                <a v-if="transfer_type == 'simpson'" href="https://seeklogo.com/vector-logo/139137/the-simpsons-tv" class="grey-text">The Simpsons TV Logo by seeklogo</a>
            </div>
            <div class="back-btn">
                <a class="btn-floating btn-large waves-effect waves-light dark-blue" @click="goBack">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light orange" @click="restart">
                    <i class="fa fa-undo"></i>
                </a>
            </div>
        </div>
        <div v-show="mode == 'style'" class="indigo lighten-4 valign-wrapper menu">
            <div class="valign menu-center orange-text text-lighten-5">
                <div class="slider">
                    <ul class="slides">
                      <li v-for="(img, i) in style_imgs[transfer_type]" :key="i">
                        <img :src="img"/>
                        <p>{{img}}</p>
                      </li>
                    </ul>
                </div>
                <p class="citition grey-text text-darken-2">Dataset: {{dataset[transfer_type].name}}<br/> ({{dataset[transfer_type].cite}})</p>
            </div>
            <div class="back-btn">
                <a class="btn-floating btn-large waves-effect waves-light dark-blue" @click="goBack">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
        </div>
        <transition name="pause">
            <div v-if="loading" class="pause-cover valign-wrapper" @click="">
                <div class="menu-center valign">
                    <h5><i class="fa fa-spinner fa-spin"></i></h5>
                    <h5>Transfering Your Image</h5>
                </div>
            </div>
        </transition>
    </div>
    <script type='text/javascript' src='js/vue.min.js'></script>
    <script type="text/javascript" src="js/vm.js"></script>
    
</body>

</html>